= form_for group do |f|
  - if group.errors.any?
    .chat-group-form__errors
      %h2= "#{group.errors.full_messages.count}件のエラーが発生しました"
      %ul
        - group.errors.full_messages.each do |message|
          %li= message
  .chat-group-form__field.clearfix
    .chat-group-form__field__left
      = f.label :"グループ名", class: "chat-group-form__label"
    .chat-group-form__field__right
      = f.text_field :name, class: "chat-group-form__input", placeholder: "グループ名を入力してください"
    / この部分はインクリメンタルサーチ(ユーザー追加の非同期化)のときに使用します
  .chat-group-form__field.clearfix
    .chat-group-form__field__left
      = f.label :"チャットメンバーを追加", class: "chat-group-form__label", for: "chat_group_チャットメンバーを追加" 
    .chat-group-form__field__right
      = f.text_field :name, class: "chat-group-form__input", id: "user-search-field", placeholder: "追加したいユーザー名を入力してください", type: "text", name: ""
      #user-search-result
  .chat-group-form__field.clearfix
    .chat-group-form__field__left
      = f.label :"チャットメンバー", class: "chat-group-form__label", for: "members"
    .chat-group-form__field__right
      .chat-group-form__users.member
        - @group.group_users.each do |group_user|
          .chat-group-form__user.clearfix.member
            %p.chat-group-form__user__name
            = group_user.user.name
            = f.hidden_field :user_ids, name: "group[user_ids][]", :value => group_user.user.id
          
    / グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください
    / この部分はインクリメンタルサーチ(ユーザー追加の非同期化)のときにも使用します
  .chat-group-form__field.clearfix
    .chat-group-form__field__left
    .chat-group-form__field__right
      = f.submit class: "chat-group-form__action-btn"

