.chat-group-form
  %h1 チャットグループ編集
  = form_for @group do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.text_field :name, class: "chat__group_name", placeholder: "グループ名を入力してください"
    .chat-group-form__field.clearfix
      / この部分はインクリメンタルサーチ(ユーザー追加の非同期化)のときに使用します
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.text_field :name, class: "chat__group_name", placeholder: " 追加したいユーザーを入力してください"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label_field :name, class: "chat-group-form__label"
      .chat-group-form__field
        = form_for @group do |f|
          = f.collection_check_boxes(:user_ids, User.all, :id, :name) do |b|
            = b.label { b.check_box + b.text }
        / グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください
        / この部分はインクリメンタルサーチ(ユーザー追加の非同期化)のときにも使用します
    .chat-group-form__field
      .chat-group-form__field--left
      .chat-group-form__field--right
        %input.chat-group-form__action-btn{"data-disable-with": "Save", name: "commit", type: "submit", value: "更新する"}/
    = render "layouts/flash"


   